
@{
    ViewBag.Title = "CreateSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/home">Home</a></span> / <span>Create Complete</span></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <p class="icon-addcart"><span><i class="icon-check"></i></span></p>
                <h2 class="mb-4">Create is complete</h2>
                <h2 class="mb-4">Your Account is active now!!</h2>
                <p>
                    <a href="/home" class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> Continue Shopping</a>
                    <a href="/login" class="btn btn-primary btn-outline-primary"><i class="fa fa-sign-in"></i>  Sign In Now!!</a>
                </p>
            </div>
        </div>
    </div>
</div>

