<div class="row">
    <!--Logo-->
    <div class="col-sm-7 col-md-9">
        <div id="colorlib-logo"><a href="/">Minh Nguyệt Shoes</a></div>
    </div>
    <!--Search field-->
    <div class="col-sm-5 col-md-3">
        <form action="#" class="search-wrap">
            <div class="form-group">
                <input type="search" class="form-control search" placeholder="Search">
                <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</div>